.filter {
  font: 95%;
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
  background: #f7f7f7;
}

input[type='text'] {
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-top: 2%;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

input[type='text']:hover,
input[type='text']:focus {
  box-shadow: 0 0 5px #43d1af;
  padding: 3%;
  border: 1px solid #43d1af;
}
