.form {
  font: 95%;
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
}
.title {
  max-width: 400px;
  margin: 0 auto;
  background: #43d1af;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}
.form input[type='email'],
.form input[type='name'],
.form input[type='password'] {
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-top: 2%;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

.form input[type='email']:hover,
.form input[type='name']:hover,
.form input[type='password']:hover,
.form input[type='email']:focus,
.form input[type='name']:focus,
.form input[type='password']:focus {
  box-shadow: 0 0 5px #43d1af;
  padding: 3%;
  border: 1px solid #43d1af;
}

.button {
  width: 100%;
  padding: 3%;
  background: #43d1af;
  border-radius: 5px;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
.button:hover {
  background: #2ebc99;
}
