.list {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.text {
  padding-right: 10px;
}

.button {
  padding: 3px 6px;
  background: #43d1af;
  border-radius: 5px;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
.button:hover {
  background: #2ebc99;
}
